/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.newrow {
    clear: both;
    margin-bottom: 2%;
  }

.newrow:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }

.column-1{
  width: 66%;
  float: left;
}

.column-2{
  width: 32%;
  float: right;
}

.column-3{
  width: 32%;
  margin-left: 0%;
  float: left;
}

.column-4{
  width: 32%;
  float: left;
  margin-left: 2%;
  border: 5px

}
